@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* custom colors  */
  --primary: #b88e2f;
  --primary-light: #fcf8f3;
  --secondary: #333;
  --tertiary: #b0b0b0;
  --tertiary-light: #d9d9d9;
  --quaternary: #f9f1e7;
  --quinary: #242424;
  --senary: #f4f5f7;
  --septenary: #727272;
  --accent: #898989;
  --accent-light: #9f9f9f;
  --muted: #666;
  --muted-light: #616161;
  --success: #2ec1ac;
  --warning: #fff3e3;
  --warning-light: #faf3ea;
  --danger: #e97171;
  --info: #3a3a3a;
  --dark: #000000;

  /* fonts  */
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-tertiary-light: var(--tertiary-light);
  --color-quaternary: var(--quaternary);
  --color-quinary: var(--quinary);
  --color-senary: var(--senary);
  --color-septenary: var(--septenary);
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --color-muted: var(--muted);
  --color-muted-light: var(--muted-light);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-warning-light: var(--warning-light);
  --color-danger: var(--danger);
  --color-info: var(--info);
  --color-dark: var(--dark);

  /* custom fonts  */
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-montserrat);
}
.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@media screen and (min-width: 200px) {
  .dropDownCustomBreak {
    position: absolute;
    top: auto;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
